<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" manuallyInstalled="true" />
  <package id="OpenAI" version="2.0.0" manuallyInstalled="true" />
  <package id="System.ClientModel" version="1.1.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" />
  <package id="System.Memory.Data" version="1.0.2" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.9" />
</packages>